*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Dosis', sans-serif;
    color: $black;
    font-weight: 300;
    overflow-x: hidden;
}
img{
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Dosis', sans-serif;
}
a{
    text-decoration: none;
}
p{
    line-height: 1.3;
}
.container{
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 2rem;
    overflow: hidden;
}