::selection{
    background: $scrollbar_selection;
    color: #FFF;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px $scrollbar_selection;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: $scrollbar_selection;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:window-inactive{
    background: $scrollbar_selection;
}