$red: #DD2D4E; /*rgb(221,45,78)*/
$blue: #274782; /*rgb(39,71,130)*/
$green: #23A455;
$lightblue: #6EC1E4;
$greyishblue: #F6F9FE;
$white: #FFF;
$black: #333;
$scrollbar_selection: #4fc1f0;
$contentColor: #4c5b76;
$light: #f8f9fa;
$floatShadow : #999;