#about h6{
    color: $red;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0px;
}
#about h6 span{
    color: $blue;
}
.about1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 630px;
    margin-top: -50px;
    margin-bottom: 50px;
}
.about1 .leftContent{
    margin-right: 60px;
    margin-top: 90px;
    padding: 0;
}
.about1 .leftContent h6{
    color: $red;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-bottom: 0;
}
.about1 .leftContent h1{
    color: $blue;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    padding-top: 0;
    margin-top: 0;
}
.about1 .leftContent p{
    color: $contentColor;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 2px;
}
.abtBtn{
    margin-top: 70px;
    text-align: center;
}
.rightStats h6{
    color: $red;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 90px;;
    margin-bottom: 5px;
    padding-bottom: 0;
}
.rightStats h1{
    color: $blue;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    padding-top: 0;
    margin-top: 0;
}
.rightStats p{
    color: $contentColor;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 2px;
}
.rsGridParent{
    display: grid;
    grid-template-columns: 1fr 6fr;
}
.rp h5{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: $blue;
    margin-top: 5px;
}
.rp h2{
    font-size: 35px;
    font-weight: 700;
    color: $red;
    line-height: 1.6;
    margin-top: -40px;
}