.blog{
    background-color: $light;
    height: 820px;
}
.blog h6{
    padding-top: 50px;
    color: $red;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}
.blog h3{
    color: $blue;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.blogButton{
    margin-left: 924px;
    margin-top: -66px;
}
.blogGridParent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
}
.b1{
    background-color: $white;
    margin-right: 20px;
    border-radius: 30px;
}
.b2{
    background-color: $white;
    margin-right: 20px;
    border-radius: 30px;
}
.b3{
    background-color: $white;
    border-radius: 30px;
}
.b1 img{
    border-radius: 30px;
}
.b2 img{
    border-radius: 30px;
}
.b3 img{
    height: 230px;
    border-radius: 30px;
}
.blogGridParent i{
    color: $blue;
}
.bContent{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.mr-5{
    margin-right: 5px; 
}
.mr-10{
    margin-right: 25px;
}
.pInline{
    display: inline;
    font-size: 18px;
    font-weight: 500;
    color: $blue;
}
.bContent p:hover{
    color: $red;
    cursor: pointer;
}
.bContent i:hover{
    color: $red;
    cursor: pointer;
}
.bContent h3{
    font-size: 26px;
    line-height: 28px;
    font-weight: 700;
    color: $blue;
    margin-top: 20px;
}
.bContent h3:hover{
    color: $red;
    cursor: pointer;
}
.bContent .seP{
    font-weight: 400;
    color: $contentColor;
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
    letter-spacing: 1px;
    margin-top: -15px;
}
.blogButton1{
    text-align: center;
}