.blogbtn a{
    background-color: $blue;
    color: $white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 50px;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
}
.blogbtn{
    text-align: center;
    margin-bottom: 50px;
}
.blogbtn a:hover{
    background-color: $contentColor;
}