button{
    outline: 0;
}
button:hover{
    cursor: pointer;
}
button.active{
    outline: 0;
}
/* --- 1 ---*/
button.send1{
    border: 2px solid #FFF;
    color: white;
    border-radius: 50px;
    padding: 15px 80px;
    background: $blue;
    position: relative;
    overflow: hidden;
    transform: translateY(-50%);
    font-weight: bold;
}
button.send1 .text1{
    font-size: 16px;
    margin-top: 0;
}
button.send1 .text1.active1{
    transform: translateY(-350%) scale(0);
    transition: 0.35s cubic-bezier(0.34, -0.61, 1, 0.64);
}
button.send1.active1{
    padding: 0px 80px;
    transition: 0.4s cubic-bezier(0.35, -0.77, 0.67, 1.88);
}
button.send1 .loader1{
    position: absolute;
    width: calc(0% - 4px);
    height: calc(100% - 4px);
    background-color: #FFF;
    left: 2px;
    top: 2px;
    border-radius: 50px;
}
button.send1 .loader1.active1{
    width: calc(100% - 4px);
    transition: 1.3s ease-in-out;
    transition-delay: 0.5s;
}
button.send1 .done1{
    color: $blue;
    margin-top: -15px;
    transform: translateY(300%) scale(0);
}
button.send1 .done1.active1{
    transform: translateY(0%) scale(1);
    transition: 0.4s cubic-bezier(0.34, -0.61, 1, 0.64);
    font-weight: bold;
    color: $blue;
}
button.send1.finished1{
    padding: 15px 80px;
    transition: 0.4s cubic-bezier(0.35, -0.77, 0.67, 1.88);
}
/* --- 2 ---*/
button.send2{
    border: 2px solid #FFF;
    color: white;
    border-radius: 50px;
    padding: 15px 80px;
    background: $blue;
    position: relative;
    overflow: hidden;
    transform: translateY(-50%);
    font-weight: bold;
}
button.send2 .text2{
    font-size: 16px;
    margin-top: 0;
}
button.send2 .text2.active2{
    transform: translateY(-350%) scale(0);
    transition: 0.35s cubic-bezier(0.34, -0.61, 1, 0.64);
}
button.send2.active2{
    padding: 0px 80px;
    transition: 0.4s cubic-bezier(0.35, -0.77, 0.67, 1.88);
}
button.send2 .loader2{
    position: absolute;
    width: calc(0% - 4px);
    height: calc(100% - 4px);
    background-color: #FFF;
    left: 2px;
    top: 2px;
    border-radius: 50px;
}
button.send2 .loader2.active2{
    width: calc(100% - 4px);
    transition: 1.3s ease-in-out;
    transition-delay: 0.5s;
}
button.send2 .done2{
    color: $blue;
    margin-top: -15px;
    transform: translateY(300%) scale(0);
}
button.send2 .done2.active2{
    transform: translateY(0%) scale(1);
    transition: 0.4s cubic-bezier(0.34, -0.61, 1, 0.64);
    font-weight: bold;
    color: $blue;
}
button.send2.finished2{
    padding: 15px 80px;
    transition: 0.4s cubic-bezier(0.35, -0.77, 0.67, 1.88);
}
/* --- 3 ---*/
button.send3{
    border: 2px solid #FFF;
    color: white;
    border-radius: 50px;
    padding: 15px 80px;
    background: $blue;
    position: relative;
    overflow: hidden;
    transform: translateY(-50%);
    font-weight: bold;
}
button.send3 .text3{
    font-size: 16px;
    margin-top: 0;
}
button.send3 .text3.active3{
    transform: translateY(-350%) scale(0);
    transition: 0.35s cubic-bezier(0.34, -0.61, 1, 0.64);
}
button.send3.active3{
    padding: 0px 80px;
    transition: 0.4s cubic-bezier(0.35, -0.77, 0.67, 1.88);
}
button.send3 .loader3{
    position: absolute;
    width: calc(0% - 4px);
    height: calc(100% - 4px);
    background-color: #FFF;
    left: 2px;
    top: 2px;
    border-radius: 50px;
}
button.send3 .loader3.active3{
    width: calc(100% - 4px);
    transition: 1.3s ease-in-out;
    transition-delay: 0.5s;
}
button.send3 .done3{
    color: $blue;
    margin-top: -15px;
    transform: translateY(300%) scale(0);
}
button.send3 .done3.active3{
    transform: translateY(0%) scale(1);
    transition: 0.4s cubic-bezier(0.34, -0.61, 1, 0.64);
    font-weight: bold;
    color: $blue;
}
button.send3.finished3{
    padding: 15px 80px;
    transition: 0.4s cubic-bezier(0.35, -0.77, 0.67, 1.88);
}
/* --- 4 ---*/
button.send4{
    border: 2px solid #FFF;
    color: white;
    border-radius: 50px;
    padding: 15px 80px;
    background: $blue;
    position: relative;
    overflow: hidden;
    transform: translateY(-50%);
    font-weight: bold;
}
button.send4 .text4{
    font-size: 16px;
    margin-top: 0;
}
button.send4 .text4.active4{
    transform: translateY(-350%) scale(0);
    transition: 0.35s cubic-bezier(0.34, -0.61, 1, 0.64);
}
button.send4.active4{
    padding: 0px 80px;
    transition: 0.4s cubic-bezier(0.35, -0.77, 0.67, 1.88);
}
button.send4 .loader4{
    position: absolute;
    width: calc(0% - 4px);
    height: calc(100% - 4px);
    background-color: #FFF;
    left: 2px;
    top: 2px;
    border-radius: 50px;
}
button.send4 .loader4.active4{
    width: calc(100% - 4px);
    transition: 1.3s ease-in-out;
    transition-delay: 0.5s;
}
button.send4 .done4{
    color: $blue;
    margin-top: -15px;
    transform: translateY(300%) scale(0);
}
button.send4 .done4.active4{
    transform: translateY(0%) scale(1);
    transition: 0.4s cubic-bezier(0.34, -0.61, 1, 0.64);
    font-weight: bold;
    color: $blue;
}
button.send4.finished4{
    padding: 15px 80px;
    transition: 0.4s cubic-bezier(0.35, -0.77, 0.67, 1.88);
}
/* --- 5 ---*/
button.send5{
    border: 2px solid #FFF;
    color: white;
    border-radius: 50px;
    padding: 15px 80px;
    background: $blue;
    position: relative;
    overflow: hidden;
    transform: translateY(-50%);
    font-weight: bold;
}
button.send5 .text5{
    font-size: 16px;
    margin-top: 0;
}
button.send5 .text5.active5{
    transform: translateY(-350%) scale(0);
    transition: 0.35s cubic-bezier(0.34, -0.61, 1, 0.64);
}
button.send5.active5{
    padding: 0px 80px;
    transition: 0.4s cubic-bezier(0.35, -0.77, 0.67, 1.88);
}
button.send5 .loader5{
    position: absolute;
    width: calc(0% - 4px);
    height: calc(100% - 4px);
    background-color: #FFF;
    left: 2px;
    top: 2px;
    border-radius: 50px;
}
button.send5 .loader5.active5{
    width: calc(100% - 4px);
    transition: 1.3s ease-in-out;
    transition-delay: 0.5s;
}
button.send5 .done5{
    color: $blue;
    margin-top: -15px;
    transform: translateY(300%) scale(0);
}
button.send5 .done5.active5{
    transform: translateY(0%) scale(1);
    transition: 0.4s cubic-bezier(0.34, -0.61, 1, 0.64);
    font-weight: bold;
    color: $blue;
}
button.send5.finished5{
    padding: 15px 80px;
    transition: 0.4s cubic-bezier(0.35, -0.77, 0.67, 1.88);
}