.doctor{
    background-color: $greyishblue;
}
.doctor h6{
    color: $red;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 50px;
}
.doctor h3{
    color: $blue;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.doctor p{
    font-weight: 600;
    text-align: center;
    font-size: 20px;
    line-height: 1.6;
    color: $contentColor;
    margin: 0;
}
.drGridParent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 390px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.drGridParent img{    
    border-radius: 15px;
}
.d1{
    margin-right: 20px;
}
.d2{
    margin-right: 20px;
}
.d3{
    margin-right: 20px;
}
.d4 img{
    height: 312px;
}
.whiteBox{
    height: 100px;
    background-color: $white;
    margin-top: -70px;
    width: 256px;
    margin-left: 10px;
    border-radius: 15px;
}
.whiteBox:hover{
    background-color: $greyishblue;
    cursor: pointer;
}
.whiteBox h3{
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: $blue;
    text-align: center;
    margin-top: 20px;
}
.whiteBox p{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    line-height: 1.6;
    color: $blue;
    margin-top: -25px;
}







.contactGridParent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
}
.emailHover:hover p{
    color: $red;
    cursor: pointer;
}
.emailHover:hover h4{
    color: $red;
    cursor: pointer;
}
.locHover:hover p{
    color: $red;
    cursor: pointer;
}
.locHover:hover h4{
    color: $red;
    cursor: pointer;
}
.phoneHover:hover p{
    color: $red;
    cursor: pointer;
}
.phoneHover:hover h4{
    color: $red;
    cursor: pointer;
}
.contactDetails p{
    font-size: 36px;
    margin-top: -30px;
    margin-left: 50%;
}
.contactDetails .firstCD{
    margin-top: 0px;
}
.contactDetails h4{
    font-size: 20px;
    margin-top: -10px;
}
.contactDetails .emailCD{
    margin-left: 204px;
}
.contactDetails .locCD{
    margin-left: 243px;
}
.contactDetails .numCD{
    margin-left: 243px;
}
label{
    color: $blue;
    font-weight: 700;
    font-size: 18px;
}
.formInput{
    border: 1px solid $blue;
    padding: 8px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
input[type=text] {
  border: none;
  border-bottom: 2px solid $blue;
}
input[type=email] {
  border: none;
  border-bottom: 2px solid $blue;
}
.contactButton{
    margin-top: 30px;
}
.cucolor{
    background-color: $white;
}