.float{
	position:fixed;
	width:60px;
	height:60px;
	border-radius:50px;
	bottom:40px;
	right:40px;
	background: $blue;
	color:#FFF;
	text-align:center;
	box-shadow: 6px 6px 8px $floatShadow;
    visibility: hidden;
}

.my-float{
	margin-top:20px;
}