.footer{
    background-color: $blue;
    height: 220px;
}
.footerGridParent{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 220px;
}
.left img{
    margin-top: 70px;
    margin-left: 30px;
}
.left p{
    margin-left: 30px;
    margin-top: 0px;
    font-size: 18px;
    color: $white;
    font-weight: 400;
}
li{
    list-style: none;
}
.right li{
    margin-top: 90px;
    margin-left: 130px;
}
.right a{
    font-size: 20px;
    font-weight: 400;
    color: $white;
}
.right span{
    font-size: 20px;
    font-weight: 400;
    color: $white;
}
.right a:hover{
    color: $red;
    cursor: pointer;
}