.navbar{
    background: $greyishblue;
/*    background-color: rgb(39, 71, 130, 0.9);*/
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99;
}
.left-section{
    float: left;
    margin-top: 20px;
}
.right-section{
    float: right;
    margin-top: 20px;
}
.menu .menu-item{
    display: inline-block;
}
.menu-item a{
    text-decoration: none;
    padding-left: 13px;
    padding-right: 13px;
    color: $blue;
/*    color: $white;*/
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}
.navbarLogo:hover{
    cursor: pointer;
}
.menu li{
    margin-top: -50px;
    padding-bottom: 41px;
    padding-top: 50px;
}
.menu li:hover{
    color: $white;
    background: $red;
    cursor: pointer;
}
.menu li:hover a{
    color: $white;
}