.pre{
    background-color: $light;
    height: 1100px;
}
.pre h6{
    padding-top: 50px;
    color: $red;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}
.pre h3{
    color: $blue;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.pre p{
    font-weight: 600;
    text-align: center;
    font-size: 20px;
    line-height: 1.6;
    color: $contentColor;
    margin: 0;
}
.pre1GridParent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 370px;
    margin-top: 50px;
}
.p1{
    background-color: $white;
    margin-right: 20px;
    border-radius: 30px;
}
.p2{
    background-color: $white;
    margin-right: 20px;
    border-radius: 30px;
}
.p3{
    background-color: $white;
    border-radius: 30px;
}

.pre2GridParent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 370px;
    margin-top: 20px;
}
.p4{
    background-color: $white;
    margin-right: 20px;
    border-radius: 30px;
}
.p5{
    background-color: $white;
    margin-right: 20px;
    border-radius: 30px;
}
.p6{
    background-color: $white;
    border-radius: 30px;
}
.pre1GridParent img{
    margin-left: 130px;
    margin-top: 60px;
}
.pre1GridParent h2{
    font-size: 26px;
    color: $blue;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
}
.pre1GridParent p{
    font-weight: 400;
    text-align: center;
    color: $contentColor;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -5px;
}
.pre2GridParent img{
    margin-left: 130px;
    margin-top: 60px;
}
.pre2GridParent h2{
    font-size: 26px;
    color: $blue;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
}
.pre2GridParent p{
    font-weight: 400;
    text-align: center;
    color: $contentColor;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -5px;
}