.precaution{
    background-color: $greyishblue;
    height: 780px;
}
.precaution h6{
    padding-top: 50px;
    color: $red;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}
.precaution h3{
    color: $blue;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.precaution p{
    font-weight: 600;
    text-align: center;
    font-size: 20px;
    line-height: 1.6;
    color: $contentColor;
    margin: 0;
}

.precGridTemplate{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 350px;
    margin-top: 50px;
}
.prec1{
    background-color: $white;
    margin-right: 20px;
    border-radius: 30px;
}
.prec2{
    background-color:$white;
    margin-right: 20px;
    border-radius: 30px;
}
.prec3{
    background-color: $white;
    margin-right: 20px;
    border-radius: 30px;
}
.prec4{
    background-color:$white;
    border-radius: 30px;
}
.precGridTemplate img{
    margin-left: 25px;
    margin-top: 10px;
}
.precGridTemplate h2{
    text-align: center;
    color: $blue;
    line-height: 1.2;
    font-weight: 700;
    font-size: 24px;
    margin-top: -20px;
}
.precGridTemplate p{
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    text-align: center;
    color: $blue;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 1px;
    margin-top: -5px;
}
.PrecBtn{
    margin-top: 70px;
    text-align: center;
}