.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $white;
    z-index: 9999;
}
.loading-text{
    display: block;
    text-align: center;
    background: transparent;
    padding-top: 200px;
    padding-bottom: 200px;
    font-size: 36px;
    font-weight: 500;
    color: $green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


#myProgress {
    width: 50%;
    background-color: $white;
    margin-top: 424px;
    margin-left: 380px;
}

#myBar {
    width: 1%;
    height: 30px;
    background-color: $green;
    border-radius: 30px;
}