.redSection{
    max-width: 100%;
    height: 290px;
    background-color: $red;
    color: $white;
    margin-top: -4px;
}
.content{
    margin-left: 170px;
    padding-top: 85px;
}
.redSection .content p{
    font-size: 45px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.rightButton{
    margin-left: 1015px;
    margin-top: -55px;
}