.stats{    
    background-color: $greyishblue;
    height: 702px;
}
.stats h6{
    color: $red;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 20;
    margin-bottom: 5px;
    padding-bottom: 0;
}
.stats h1{
    color: $blue;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    padding-top: 0;
    margin-top: 0;
}
.statsGridParent{
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 140px;
}
.stats .b1{
    background-color: $blue;
    margin-right: 20px;
    border-radius: 10px;
}
.stats .b2{
    background-color: $blue;
    margin-right: 20px;
    border-radius: 10px;
}
.stats .b3{
    background-color: $blue;
    margin-right: 20px;
    border-radius: 10px;
}
.stats .b4{
    background-color: $blue;
    border-radius: 10px;
}
.stats .b1 p{
    color: $white;
    font-size: 30px;
    font-weight: 600;
}
.stats .b1 p span{
    color: $white;
    font-size: 40px;
    margin-top: -10px;
    margin-left: 15px;
}
.stats .b1 h3{
    color: $white;
    font-weight: 600;
    font-size: 24px;
    margin-left: 15px;
    margin-top: -10px;
}
.stats .b2 p{
    color: $red;
    font-size: 30px;
    font-weight: 600;
}
.stats .b2 p span{
    color: $red;
    font-size: 40px;
    margin-top: -10px;
    margin-left: 15px;
}
.stats .b2 h3{
    color: $red;
    font-weight: 600;
    font-size: 24px;
    margin-left: 15px;
    margin-top: -10px;
}
.stats .b3 p{
    color: $green;
    font-size: 30px;
    font-weight: 600;
}
.stats .b3 p span{
    color: $green;
    font-size: 40px;
    margin-top: -10px;
    margin-left: 15px;
}
.stats .b3 h3{
    color: $green;
    font-weight: 600;
    font-size: 24px;
    margin-left: 15px;
    margin-top: -10px;
}
.stats .b4 p{
    color: $scrollbar_selection;
    font-size: 30px;
    font-weight: 600;
}
.stats .b4 p span{
    color: $scrollbar_selection;
    font-size: 40px;
    margin-top: -10px;
    margin-left: 15px;
}
.stats .b4 h3{
    color: $scrollbar_selection;
    font-weight: 600;
    font-size: 24px;
    margin-left: 15px;
    margin-top: -10px;
}
.mgr1{
    margin-right: 10px;
}








.bgwhite{
    background-color: $white;
}
.bggrey{
    background-color: $greyishblue;
}
.countBox{
    margin-left: 10px;
    border: 1px solid #ccc;
    padding: 0;
    margin-bottom: 30px;
}
.countBox p{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-bottom: 1px solid #ccc;
}
.countBox p:hover{
    background-color: $light;
}
.mgc0{
    margin-left: 650px;
}
.mgc1{
    margin-left: 700px;
}
.mgc2{
    margin-left: 775px;
}
.mgc3{
    margin-left: 750px;
}
.mgc4{
    margin-left: 755px;
}
.mgc5{
    margin-left: 760px;
}
.mgc6{
    margin-left: 744px;
}
.countBox p{
    color: $scrollbar_selection;
    font-size: 20px;
    font-weight: 500;
}
.countBox .firstP{
    color: $blue;
    font-size: 24px;
    font-weight: 700;
}