.about3{
    background-color: $greyishblue;
}
.about3 h6{
    padding-top: 50px;
    color: $red;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}
.about3 h3{
    color: $blue;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.about3 p{
    font-weight: 600;
    text-align: center;
    font-size: 20px;
    line-height: 1.6;
    color: $contentColor;
    margin: 0;
}
.abtgridParent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 340px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.s1{
    background-color: $white;
    margin-right: 20px;
    border-radius: 30px;
}
.s2{
    background-color: $white;
    margin-right: 20px;
    border-radius: 30px;
}
.s3{
    background-color: $white;
    margin-right: 20px;
    border-radius: 30px;
}
.s4{
    background-color: $white;
    border-radius: 30px;
}
.abtgridParent img{
    text-align: center;
    margin-left: 20px;
}
.abtgridParent h2{
    font-size: 22px;
    color: $blue;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
    margin-top: 0px;
}
.about3Btn{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}