.vcolor{
    background-color: $greyishblue;
}
.vaccine h6{
    padding-top: 50px;
    color: $red;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}
.vaccine h3{
    color: $blue;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.vaccine p{
    font-weight: 600;
    text-align: center;
    font-size: 20px;
    line-height: 1.6;
    color: $contentColor;
    margin: 0;
}




.v1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 600px;
    margin-top: -100px;
    margin-bottom: 0px;
}
.v1 .leftContentV{
    margin-right: 60px;
    margin-top: 90px;
    padding: 0;
}
.v1 .leftContentV h6{
    color: $red;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 5px;
    padding-bottom: 0;
}
.v1 .leftContentV h1{
    color: $red;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.2;
    padding-top: 0;
    margin-top: 0;
}
.v1 .leftContentV p{
    color: $contentColor;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 2px;
    text-align: left;
}
.abtBtn{
    margin-top: 70px;
    text-align: center;
}
.rightStatsV h6{
    color: $red;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 90px;;
    margin-bottom: 5px;
    padding-bottom: 0;
}
.rightStatsV h1{
    color: $red;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.2;
    padding-top: 0;
    margin-top: 0;
    margin-top: 90px;
}
.rightStatsV p{
    color: $contentColor;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 2px;
    text-align: left;    
}
.rsGridParentV{
    display: grid;
    grid-template-columns: 1fr 6fr;
    
}
.rpV h5{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: $blue;
    margin-top: 5px;
}
.rpV h2{
    font-size: 35px;
    font-weight: 700;
    color: $red;
    line-height: 1.6;
    margin-top: -40px;
}
.leftContentV .lvp2{
    margin-top: 20px;
}
.rightStatsV .rvp2{
    margin-top: 20px;
}
.rightStatsV .rpV{
    margin-top: 20px;
}

.vprepGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    height: 500px;
}
.vprepGrid .vp1{
    background-color: $blue;
    margin-right: 20px;
    border-radius: 30px;
}
.vprepGrid .vp2{
    background-color: $blue;
    border-radius: 30px;
}
.vprepGrid .vp1 img{
    border-radius: 30px;
}
.vprepGrid .vp2 img{
    height: 294px;
    width: 100%;
    border-radius: 30px;
}
.vprep .vpContent h4{
    color: $white;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    padding-left: 20px;
    margin-top: 10px;
}
.vprep .vpContent p{
    color: $white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -10px;
}
.vprepGrid .vp1:hover h4{
    color: $red;
    cursor: pointer;
}
.vprepGrid .vp2:hover h4{
    color: $red;
    cursor: pointer;
}
.veimage a{
    max-height: 300px;
    max-width: 300px;
}
.veGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.veContent h1{
    margin-top: 175px;
    color: $blue;
}
.vnewsGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-top: 30px;
    margin-bottom: 70px;
}
.vnewsGrid img{
    height: 258px;
    border-radius: 30px;
}
.vnewsGrid .vn1{
    margin-right: 15px;
    background-color: $white;
    height: 480px;
    border-radius: 30px;
}
.vnewsGrid .vn2{
    margin-right: 15px;
    background-color: $white;
    height: 480px;
    border-radius: 30px;
}
.vnewsGrid .vn3{
    background-color: $white;
    height: 480px;
    border-radius: 30px;
}
.vnewsGrid p{
    font-size: 16px;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    color: $contentColor;
}
.vnewsGrid h3{
    font-size: 26px;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    color: $blue;
    font-weight: 700;
}
.vnewsGrid .vn1:hover h3{
    color: $red;
}
.vnewsGrid .vn2:hover h3{
    color: $red;
}
.vnewsGrid .vn3:hover h3{
    color: $red;
}
.vprepcolor{
    background-color: $light;
    height: 670px;
}
.vecolor{
    background-color: $white;
}
.vncolor{
    background-color: $light;
}