/*
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    display: -webkit-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    font-weight: 700;
    padding-top: 50vh;
}
*/
button{
    outline: 0;
}
button:hover{
    cursor: pointer;
}
button.active{
    outline: 0;
}
button.send{
    border: 2px solid #FFF;
    color: white;
    border-radius: 50px;
    padding: 15px 80px;
    background: #12e2a3;
    position: relative;
    overflow: hidden;
    transform: translateY(-50%);
    font-weight: bold;
}
button.send .text{
    font-size: 16px;
    margin-top
}
button.send .text.active{
    transform: translateY(-350%) scale(0);
    transition: 0.35s cubic-bezier(0.34, -0.61, 1, 0.64);
}
button.send.active{
    padding: 0px 80px;
    transition: 0.4s cubic-bezier(0.35, -0.77, 0.67, 1.88);
}
button.send .loader{
    position: absolute;
    width: calc(0% - 4px);
    height: calc(100% - 4px);
    background-color: #FFF;
    left: 2px;
    top: 2px;
    border-radius: 50px;
}
button.send .loader.active{
    width: calc(100% - 4px);
    transition: 1.3s ease-in-out;
    transition-delay: 0.5s;
}
button.send .done{
    color: #389168;
    margin-top: -15px;
    transform: translateY(300%) scale(0);
}
button.send .done.active{
    transform: translateY(0%) scale(1);
    transition: 0.4s cubic-bezier(0.34, -0.61, 1, 0.64);
    font-weight: bold;
    color: #12e2a3;
}
button.send.finished{
    padding: 15px 80px;
    transition: 0.4s cubic-bezier(0.35, -0.77, 0.67, 1.88);
}